NEXT_PUBLIC_URL=http://localhost:3000
NYLAS_CLIENT_ID="7aa45dec-1594-40a9-9583-a0f87f32affb"
NYLAS_API_SECRET_KEY="nyk_v0_YHo3fLK7jRlyejJtYwbXbYlY2nbHp57TRYCXf5wVruV6mDNmFnxkVeDptbQpHQaT"
NYLAS_API_URL="https://api.eu.nylas.com"
NODE_ENV="production"
DATABASE_URL=postgresql://neondb_owner:HDdTr8pce1uj@ep-crimson-morning-a51mn4i1.us-east-2.aws.neon.tech/neondb?sslmode=require
DIRECT_URL=postgresql://neondb_owner:HDdTr8pce1uj@ep-crimson-morning-a51mn4i1.us-east-2.aws.neon.tech/neondb?sslmode=require

AUTH_SECRET="EdvVAoiBtt8zay4nJkwNuwYlGd0Mi55dh0zENKbdUQY=" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GITHUB_ID=Iv23liBFWwPfjgR84y7c
AUTH_GITHUB_SECRET=a7195035e492ac14d150808075457fa0458aa590

AUTH_GOOGLE_ID=427898139057-uediiiqdmo47jgmm7gqqovdotnnsrthc.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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